body { 
    background: radial-gradient(circle, rgba(0, 0, 0, 2), rgba(10, 10, 10, 0.89) 100%);
    overflow: hidden;
    background: repeating-linear-gradient();
    position: relative;
    animation-name: fade;
    animation-duration: 4s;
}
body::after{
    content: "";
            display: block;
            position: absolute;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
            background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%);
            background-size: 100% 4px;
            z-index: 2;
            pointer-events: none;
        }
        p {
            color: #33ff00;
            font-family: 'Courier New', Courier, monospace;
            font-size: 1.5rem;
            text-shadow: 0 0 5px rgba(0, 255, 0, 0.7);
            outline: none;
            position: relative;
            z-index: 1;
        }
        .text{
            color: #33ff00;
            font-size: 3rem;
            text-shadow: 0 0 5px #33ff00;
            text-align: center;
            border: 3px solid;
            border-color: #33ff00;
            border-radius: 5px;
            box-shadow: 5px 5px 10px #33ff00;
            animation: glitch 0.3s linear infinite;
        }
        .alttext{
            color: #33ff00;
            font-size: 3rem;
            text-shadow: 0 0 5px #33ff00;
            text-align: center;
        }
        .cursor{
            display: inline-block;
            width: 10px;
            background-color: rgb(0, 255, 0);
            animation-name: blink 1s step-end infinite;
        }
        .terminal{
            border: 3px solid;
            border-color: #33ff00;
            box-shadow: 5px 5px 10px #33ff00;
            width: 99%;
            height: 200px;
            padding: 5px;
            animation: glitch 0.3s linear infinite;
        }
        #hacker-text{
            border: 3px solid;
            border-color: #33ff00;
            box-shadow: 5px 5px 10px #33ff00;
            width: 99%;
            height: 300px;
            padding: 5px;        
            animation: glitch 0.3s linear infinite;  
            transition: transform 0.5s ease;
        }
        .hacker-text-hover{
            transform: rotateX(10deg) scale(1.01);            
        }
        label{
            color: #33ff00;
            font-size: 2rem;
            text-shadow: 0 0 5px #33ff00;
            text-align: center;
            animation: glitch 0.3s linear infinite;
        }
        .container{
            border: 3px solid;
            border-color: #33ff00;
            box-shadow: 5px 5px 10px #33ff00;
            width: 99%;
            height: 200px;
            padding: 5px;
            animation: glitch 0.3s linear infinite;
        }

        @keyframes glitch{
            0%{transform: translate(0);}
            2%{transform: translate(-2px, -1px)}
            4%{transform: translate(2px, -1px);}
            6%{transform: translate(0);}
        }
        @keyframes fade{
            0%{
                opacity: 0;
            }
            100%{
                opacity: 1a;
            }
        }
